@use "../style" as *;

.modal-helper{
    position: fixed;
    display: none;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    transition: .2s;
    .modal-heading{
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1em;
      .modal-logo-title{
        display: flex;
        align-items: center;
        gap: 1em;
        .modal-logo{
          width: 50px;
          height: 50px;
          object-fit: cover;
          border-radius: 5px;
        }
      }
      
      .links{
        display: flex;
        gap: .5em;
        align-items: center;
        a{
          @include button-style;
          justify-content: center;
          padding: .5em 1em;
          svg{
            width: 15px;
            height: 15px;
          }
        }
      }
    }
    .button-close{
      position: absolute;
      top: 10px;
      right: 10px;
      width: 20px;
      height: 20px;
      cursor: pointer;
      transition: .1s;
      .line{
        width: 20px;
        height: 2px;
        background-color: $color;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        &:nth-child(1){
          transform: translate(-50%, -50%) rotate(45deg);
        }
        &:nth-child(2){
          transform: translate(-50%, -50%) rotate(-45deg);
        }

      }
    }
    .modal-helper-content-block{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 800px;
      box-sizing: border-box;
      background-color: $bgcolor;
      color: $color;
      border-radius: 10px;
      padding: 1em;
      overflow: auto;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      max-height: 80%;
      transition: .2s;
      a{
        color: $color;
      }
      .demo{
        svg{
          width: 15px;
          height: 15px;
        }
      }

      .embla {
        max-width: calc(100% + 30px);
        margin: auto;
        margin-left: -15px;
        margin-right: -15px;
        --slide-spacing: 1rem;
      }
      .embla__viewport {
        overflow: hidden;
        padding-right: var(--slide-spacing);
      }
      .embla__container {
        display: flex;
        touch-action: pan-y pinch-zoom;
      }
      .embla__slide {
        padding-left: var(--slide-spacing);
        img{
          height: 350px;
          object-fit: cover;
          cursor: pointer;
        }
      }
      
    }
  }

  @media (max-width: 880px){
    .modal-helper
    .modal-helper-content-block{
        width: 100%;
        height: 100%;
        max-height: 100%;
        border-radius: 0;
    }
  }
  @media (max-width: 550px){
    .modal-helper
    .modal-heading{
        display: grid;
        gap: 0;
        margin-bottom: 1em;
    }
  }