@font-face {
  font-family: "NunitoSans-ExtraLight";
  src: url(../assets/fonts/NunitoSans-ExtraLight.woff2);
}
@font-face {
  font-family: "NunitoSans-Light";
  src: url(../assets/fonts/NunitoSans-Light.woff2);
}
@font-face {
  font-family: "Montserrat-Thin";
  src: url(../assets/fonts/Montserrat-Thin.woff2);
}
@font-face {
  font-family: "Montserrat-Medium";
  src: url(../assets/fonts/Montserrat-Medium.woff2);
}

$bgcolor: #25293C;
$color: #A9B1D6;
$color-light: #A9B1D655;
$color-extra-light: #A9B1D622;
$color-selected: #3E58A0;


@mixin default-container{
  position: relative;
  display: grid;
  justify-content: center;
  width: 100%;
}
@mixin fade-block($delay) {
  opacity: 0;

  animation: fade 1s forwards;
  animation-delay: $delay;
}

@mixin default-content{
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 1em;
  gap: 1em;
}

@mixin default-content{
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 1em;
  gap: 1em;
}

@mixin button-style{
  display: flex;
  gap: .7em;
  background-color: #0002;
  font-family: "NunitoSans-Light";
  border: 1px solid $color-light;
  opacity: .7;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  color: $color;
  padding: .7em 1.2em;
  align-items: center;
  transition: .2s;
  &:hover{
    opacity: 1;
  }
  a{
    display: flex;
    gap: .7em;
    text-decoration: none;
    color: $color;
  }
}
@mixin skills-style{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 1em;
  margin: 0;
  padding: 0;
  li{
    display: flex;
    align-items: center;
    gap: .5em;
    border: 1px solid $color;
    user-select: none;
    border-radius: 5px;
    padding: .3em .7em;
    p{
      margin: 0;
      font-size: clamp(12px, 2.5vw, 14px );
    }
    img, svg{
      width: 15px;
      height: 15px;
    }
  }
}

:root {
  font-family: "NunitoSans-ExtraLight";
  color: $color;
  background-color: $bgcolor;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body{
  margin: 0 !important; 
  padding: 0 !important;
}
button{
  @include button-style;
  img{
    width: 25px;
    height: 25px;
  }
}

main{
  padding-bottom: 40px;

  .modal-helper{
    position: fixed;
    display: none;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    transition: .2s;
    .modal-heading{
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1em;
      .modal-logo-title{
        display: flex;
        align-items: center;
        gap: 1em;
        .modal-logo{
          width: 50px;
          height: 50px;
          object-fit: cover;
          border-radius: 5px;
        }
      }
      
      .links{
        display: flex;
        gap: .5em;
        align-items: center;
        button{
          @include button-style;
          justify-content: center;
          padding: .5em 1em;
          svg{
            width: 15px;
            height: 15px;
          }
        }
      }
    }
    .button-close{
      position: absolute;
      top: 10px;
      right: 10px;
      width: 20px;
      height: 20px;
      cursor: pointer;
      transition: .1s;
      .line{
        width: 20px;
        height: 2px;
        background-color: $color-selected;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        &:nth-child(1){
          transform: translate(-50%, -50%) rotate(45deg);
        }
        &:nth-child(2){
          transform: translate(-50%, -50%) rotate(-45deg);
        }

      }
    }
    .modal-helper-content-block{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 800px;
      box-sizing: border-box;
      background-color: $bgcolor;
      color: $color;
      border-radius: 10px;
      padding: 1em;
      overflow: auto;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      max-height: 80%;
      transition: .2s;
      a{
        color: $color;
      }
      .demo{
        svg{
          width: 15px;
          height: 15px;
        }
      }

      .embla {
        max-width: 48rem;
        margin: auto;
        --slide-height: 19rem;
        --slide-spacing: 1rem;
      }
      .embla__viewport {
        overflow: hidden;
      }
      .embla__container {
        display: flex;
        touch-action: pan-y pinch-zoom;
        margin-left: calc(var(--slide-spacing) * -1);
      }
      .embla__slide {
        min-width: 0;
        padding-left: var(--slide-spacing);
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .embla__slide__number {
        border: 0.2rem solid var(--detail-medium-contrast);
        border-radius: 1.8rem;
        font-size: 4rem;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
        height: var(--slide-height);
        user-select: none;
      }
      
    }
  }

  .about-container{
    @include default-container;
    margin-top: 150px;
    
    .about-content{
      @include default-content;
      display: flex;
      justify-content: space-between;
      p{margin: 0}
      .about-info{
        display: grid;
        width: 60%;
        @include fade-block(.1s);
        .about-me{
          font-size: clamp(13px, 2.5vw, 16px );
        }
        .content-block{
          margin-top: 1em;
        }
        .content-title{
          display: flex;
          gap: .5em;
          align-items: center;
          margin: 0;
          margin-bottom: .5em;
        }
        .skills{
          display: flex;
          ul{
            @include skills-style;
          }
        }
        ul.services-list{
          @include skills-style;
          svg{
            width: 20px !important;
            height: 20px !important;
          }
        }
      }
      
    
      .about-photo{
        width: 30%;
        @include fade-block(0s);
        h1{
          text-align: center;
          font-size: 25px;
          margin: 10px 0 0 0;
        }
        .my-photo{
          width: 100%;
          border-radius: 10px;
          box-shadow: 10px 10px 70px #fff5;
          box-sizing: border-box;
          opacity: .3;
        }
        .contacts-list{
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          gap: 1em;
          padding: 0;
          margin: 0;
          list-style: none;
          margin-top: .5em;
          li{
            a{
              display: flex;
              text-decoration: none;
              color: $color;
              width: fit-content;
              align-items: center;
              opacity: .6;
              transition: opacity .2s;
              span{
                font-size: 0px;
              }
              img, svg{
                width: 25px;
                height: 25px;
              }
              &:hover{
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }

  .projects-container, .experience-container{
    @include default-container;
    .projects-content, .experience-content{
      @include default-content;
      @include fade-block(.2s);
      
      h2{
        font-family: "Montserrat-Thin";
        font-size: clamp(28px, 5vw, 42px );
        text-align: center;
        margin-bottom: .3em;
      }
      p.pretext{
        font-size: clamp(13px, 2.5vw, 16px );
        text-align: center;
        margin-top: 0;
        margin-bottom: 2em;
      }
      
      .langs-list{
        @include skills-style;
        margin-top: 1em;
        gap: .5em;
        .lang-item{
          font-size: 12px;
        }
      }
    }
  }

  .experience-container{
    .experience-content{
      .highlight{
        position: absolute;
        top: 250px;
        right: 40%;
        width: 150px;
        height: 150px;
        border-radius: 100%;
        background-color: #A9B1D6;
        filter: blur(150px);
      }
      .experience-list{
        display: grid;
        gap: 1em;
        .experience-item{
          position: relative;
          display: flex;
          gap: 1em;
          align-items: start;
          box-sizing: border-box;
          border-radius: 10px;
          width: 100%;
          padding: 1em;
          transition: .2s;
          
          .logo-wrapper{
            display: grid;

            width: 100px;
            
            .title{
              font-size: 22px;
              color: $color;
              text-align: center;
              font-family: "Montserrat-Medium";
              margin: 10px 0 0 0;
            }

            .logo-block{
              display: grid;
              border-radius: 20px;
              overflow: hidden;
              height: 100px;
              min-height: 100px;
              width: 100px;
              min-width: 100px;
              img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                opacity: .7;
              }
            }
          }
          .experience-info{
            align-items: start;
            border: 1px solid $color-extra-light;
            background-color: #0002;
            box-sizing: border-box;
            border-radius: 10px;
            width: 100%;
            padding: 1em;
            h3{
              font-family: "Montserrat-Medium";
              font-size: 22px;
              margin: 0;
            }
            h4{
              font-family: "Montserrat-Medium";
              font-size: 16px;
              margin: 0;
            }
            p{
              font-size: 14px;
            }
            
            .cases-list{
              margin-top: 10px;
              li{
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }


  .projects-container{
    .projects-content{
      .highlight{
        position: absolute;
        top: 100px;
        left: 40%;
        width: 150px;
        height: 150px;
        border-radius: 100%;
        background-color: #A9B1D6;
        filter: blur(150px);
      }
      .projects-list{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
        .project-item{
          position: relative;
          display: flex;
          gap: 1em;
          align-items: start;
          border: 1px solid $color-extra-light;
          background-color: #0002;
          box-sizing: border-box;
          border-radius: 10px;
          padding: 1em;
          transition: .2s;
          .logo-block{
            display: grid;
            img{
              width: 70px;
              height: 70px;
              object-fit: cover;
              border-radius: 10px;
              opacity: .6;
            }

          }
          .project-info{
            width: 100%;
            .project-heading{
              display: flex;
              align-items: center;
              justify-content: space-between;
              gap: .5em;
              h3{
                display: flex;
                align-items: center;
                font-size: 16px;
                font-family: "Montserrat-Medium";
                gap: .5em;
                margin: 0;
                
                .comercial{
                  font-size: 10px;
                  border: 1px solid $color-selected;
                  border-radius: 5px;
                  padding: 2px 5px;
                  font-family: "NunitoSans-ExtraLight";
                }
              }
              .links{
                display: flex;
                gap: .5em;
                align-items: center;
                a, button{
                  @include button-style;
                  justify-content: center;
                  padding: .2em .3em;
                }
              }
            }
            p{
              font-family: "NunitoSans-ExtraLight";
              margin: 0;
              margin-top: .5em;
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}

@keyframes fade {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}


@media (max-width: 1440px) {
  // 1100px
}

@media (max-width: 1280px) {
  .footer-content,
  .contacts-content,
  .projects-content,
  .about-content,
  .intro-content {
    max-width: 1000px !important;
  }
}

@media (max-width: 1024px) {
  .footer-content,
  .contacts-content,
  .projects-content,
  .about-content,
  .intro-content {
    max-width: 900px !important;
  }
}

@media (max-width: 768px) {
  .footer-content,
  .contacts-content,
  .projects-content,
  .about-content,
  .intro-content {
    max-width: 700px !important;
  }

  main{ 
    .about-container .about-content{
      display: grid;
      justify-items: center;
      .about-photo{
        width: 50%;
      }
      .about-info{
        width: 100%;
      }
    }
    .contacts-container .contacts-content{
      .contacts-image{
        img{
          width: 100%;
        }
      }
    }
    .projects-container .projects-content .projects-list{
      grid-template-columns: 1fr;
    }
  }

}

@media (max-width: 550px) {
  main .contacts-container .contacts-content {
    flex-direction: column;
    align-items: center;
    gap: 1em;
    .contacts-image{
      width: 250px;
    }
  }
}

@media (max-width: 425px) {
  .footer-content,
  .contacts-content,
  .projects-content,
  .about-content,
  .intro-content {
    max-width: 100% !important;
  }
  main{ 
    .about-container .about-content{
      .about-photo{
        width: 70%;
      }
    }
  }
}

@media (max-width: 375px) {
  main {
    .projects-container .projects-content .projects-list .project-item{
      flex-direction: column;
    }
  }
}
