@font-face {
  font-family: "NunitoSans-ExtraLight";
  src: url(../assets/fonts/NunitoSans-ExtraLight.woff2);
}
@font-face {
  font-family: "NunitoSans-Light";
  src: url(../assets/fonts/NunitoSans-Light.woff2);
}
@font-face {
  font-family: "Montserrat-Thin";
  src: url(../assets/fonts/Montserrat-Thin.woff2);
}
@font-face {
  font-family: "Montserrat-Light";
  src: url(../assets/fonts/Montserrat-Light.woff2);
}
@font-face {
  font-family: "Montserrat-Medium";
  src: url(../assets/fonts/Montserrat-Medium.woff2);
}

$bgcolor: #25293C;
$color: #A9B1D6;
$color-light: #A9B1D655;
$color-extra-light: #A9B1D622;
$color-selected: #3E58A0;


@mixin default-container{
  position: relative;
  display: grid;
  justify-content: center;
  width: 100%;
}

@mixin default-content{
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 1em;
  gap: 1em;
}
@mixin button-style{
  display: flex;
  gap: .7em;
  background-color: #0002;
  font-family: "NunitoSans-Light";
  border: 1px solid $color-light;
  opacity: .7;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  color: $color;
  padding: .7em 1.2em;
  align-items: center;
  transition: .2s;
  &:hover{
    opacity: 1;
  }
}
@mixin skills-style{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 1em;
  margin: 0;
  padding: 0;
  li{
    display: flex;
    align-items: center;
    gap: .5em;
    border: 1px solid $color;
    user-select: none;
    border-radius: 5px;
    padding: .3em .7em;
    p{
      margin: 0;
      font-size: clamp(12px, 2.5vw, 14px );
    }
    img, svg{
      width: 15px;
      height: 15px;
    }
  }
}

:root {
  font-family: "NunitoSans-ExtraLight";
  color: $color;
  background-color: $bgcolor;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body{
  margin: 0 !important; 
  padding: 0 !important;
}
button{
  @include button-style;
  img{
    width: 25px;
    height: 25px;
  }
}

main{
  .intro-container{
    @include default-container;
    height: 100vh;
    .highlight{
      position: absolute;
      top: 100%;
      left: 50%;
      width: 150px;
      height: 150px;
      border-radius: 100%;
      background-color: #A9B1D6;
      filter: blur(150px);
    }
    .intro-content{
      @include default-content;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      &-text{
        text-align: center;
        h1{
          font-family: "Montserrat-Thin";
          font-size: clamp(28px, 5vw, 42px );
          margin: 0;
        }
        p{
          font-family: "Montserrat-Light";  
          color: #3E58A0;
          font-size: 0px;
          margin: 0;
        }
      }
      button{
        font-family: "Montserrat-Light";
        margin-top: clamp(1em, 5vw, 3em);
        justify-self: center;
        font-size: clamp(14px, 3vw, 18px);
        img{
          width: clamp(18px, 2vw, 25px);
          height: clamp(18px, 2vw, 25px);
        }
      }
    }
  }
  .about-container{
    @include default-container;
    
    .about-content{
      @include default-content;
      display: flex;
      justify-content: space-between;
      p{margin: 0}
      .about-info{
        display: grid;
        width: 60%;
        .about-me{
          font-size: clamp(13px, 2.5vw, 16px );
        }
        
        .content-title{
          display: flex;
          gap: .5em;
          align-items: center;
        }
        .skills{
          display: flex;
          ul{
            @include skills-style;
          }
        }
        ul.services-list{
          @include skills-style;
          svg{
            width: 20px !important;
            height: 20px !important;
          }
        }
        .other-service{
          margin-top: 1.5em;
          width: 100%;
          font-size: clamp(13px, 2.5vw, 16px );
          a{
            color: #A9B1D6;
          }
        }
      }
    
      .about-photo{
        width: 30%;
        .my-photo{
          width: 100%;
          border-radius: 10px;
          box-shadow: 10px 10px 70px #fff5;
          box-sizing: border-box;
          opacity: .3;
        }
      }
    }
  }
  .projects-container{
    @include default-container;
    .projects-content{
      @include default-content;
      
      h2{
        font-family: "Montserrat-Thin";
        font-size: clamp(28px, 5vw, 42px );
        text-align: center;
        margin-bottom: .3em;
      }
      p.pretext{
        font-size: clamp(13px, 2.5vw, 16px );
        text-align: center;
        margin-top: 0;
        margin-bottom: 2em;
      }
      .highlight{
        position: absolute;
        top: 100px;
        left: 40%;
        width: 150px;
        height: 150px;
        border-radius: 100%;
        background-color: #A9B1D6;
        filter: blur(150px);
      }
      .projects-list{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
        .project-item{
          position: relative;
          display: flex;
          gap: 1em;
          align-items: start;
          border: 1px solid $color-extra-light;
          background-color: #0002;
          box-sizing: border-box;
          border-radius: 10px;
          padding: 1em;
          transition: .2s;
          .logo-block{
            display: grid;
            img{
              width: 70px;
              height: 70px;
              object-fit: cover;
              border-radius: 10px;
              opacity: .6;
            }

          }
          .project-info{
            width: 100%;
            h3{
              display: flex;
              font-family: "Montserrat-Medium";
              margin: 0;
              align-items: center;
              justify-content: space-between;
              font-size: 16px;
              gap: .5em;
              .links{
                display: flex;
                gap: .5em;
                align-items: center;
                a{
                  @include button-style;
                  justify-content: center;
                  padding: .2em .3em;
                }
              }
            }
            p{
              font-family: "NunitoSans-ExtraLight";
              margin: 0;
              margin-top: .5em;
              font-size: 14px;
            }
            .langs-list{
              @include skills-style;
              margin-top: 1em;
              gap: .5em;
              .lang-item{
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }

  .contacts-container{
    @include default-container;
    height: 100vh;
    .highlight{
      position: absolute;
      bottom: 150px;
      left: 15%;
      width: 150px;
      height: 150px;
      border-radius: 100%;
      background-color: #A9B1D6;
      filter: blur(150px);
    }
    .contacts-content{
      @include default-content;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      justify-content: center;
      gap: 3em;
      .contacts-image{
        img{
          opacity: .2;
          width: 350px;
        }
      }
      &-text{
        .buttons{
          display: flex;
          gap: 1em;
          button{
            align-items: center;
            padding: .5em 1em;
            gap: .5em;
            span{
              font-size: 14px;
            }
            img{
              width: 20px;
              height: 20px;
            }
          }
        }
      }
    }
  }
}

footer{
  @include default-container;
  background-color: #25293C;
  box-sizing: border-box;
  padding: 1em;
  .footer-content{
    @include default-content;
    p{
      margin: 0;
      font-family: "Montserrat-Medium";
      color: #545c7e;
      font-size: 14px;
    }
  }
}


@media (max-width: 1440px) {
  // 1100px
}

@media (max-width: 1280px) {
  .footer-content,
  .contacts-content,
  .projects-content,
  .about-content,
  .intro-content {
    max-width: 1000px !important;
  }
}

@media (max-width: 1024px) {
  .footer-content,
  .contacts-content,
  .projects-content,
  .about-content,
  .intro-content {
    max-width: 900px !important;
  }
}

@media (max-width: 768px) {
  .footer-content,
  .contacts-content,
  .projects-content,
  .about-content,
  .intro-content {
    max-width: 700px !important;
  }

  main{ 
    .about-container .about-content{
      display: grid;
      justify-items: center;
      .about-photo{
        width: 50%;
      }
      .about-info{
        width: 100%;
      }
    }
    .contacts-container .contacts-content{
      .contacts-image{
        img{
          width: 100%;
        }
      }
    }
    .projects-container .projects-content .projects-list{
      grid-template-columns: 1fr;
    }
  }

}

@media (max-width: 550px) {
  main .contacts-container .contacts-content {
    flex-direction: column;
    align-items: center;
    gap: 1em;
    .contacts-image{
      width: 250px;
    }
  }
}

@media (max-width: 425px) {
  .footer-content,
  .contacts-content,
  .projects-content,
  .about-content,
  .intro-content {
    max-width: 100% !important;
  }
  main{ 
    .about-container .about-content{
      .about-photo{
        width: 70%;
      }
    }
  }
}

@media (max-width: 375px) {
  main {
    .projects-container .projects-content .projects-list .project-item{
      flex-direction: column;
    }
    .contacts-container .contacts-content-text .buttons {
      button{
        img, svg{
          width: 18px;
          height: 18px;
        }
        span{
          font-size: 12px !important;
        }
      }
    }
  }
}

@media (max-width: 320px) {
}