.image-preview {
    position: fixed;
    inset: 0;
    z-index: 9999;
    display: none;
    place-items: center;
    background: rgba(0, 0, 0, 0.8);
  
    &.open {
      display: grid;
    }
  
    &__img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 95vw;
      max-height: 95vh;
      object-fit: contain;
      user-select: none;
      box-shadow: 0 0 30px 5px #fff3;
    }
  }